<!DOCTYPE html>
<html lang="ro">
    <head>
        <%- include('../fragmente/head'); %>

        <title>Relatii clienti | HaiLaConcert.ro</title>
    </head>
    <body>
        <header>
            <%- include('../fragmente/navbar', {sesiune: sesiune}); %>
        </header>
        <main>
            <h1>Relații cu clienții</h1>
            <p>Pentru asistență ne poți contacta la:</p>
            <ul>
                <li>Telefon/Whatsapp: +40758948295</li>
                <li>E-mail: ajutor@hailaconcert.ro</li>
            </ul>
        </main>
        <footer>
            <%- include('../fragmente/footer'); %>
        </footer>
    </body>
</html>