<h2>HaiLaConcert.ro</h2>
<p><q>Fără muzică, viaţa ar fi o greşeală.</q> – Friedrich Nietzsche</p>
<ul>
    <li><a href="res/docs/TC.pdf" download="TC.pdf">Termeni și condiții</a></li>
    <li><a href="https://anpc.ro/" target="_blank">ANPC</a></li>
</ul>
<ul>
    <li style="list-style-type: none"><p>Contact:</p></li>
    <li><a href="tel:+40758948295">+40758948295</a></li>
    <li><a href="https://wa.me/+40758948295">WhatsApp</a></li>
    <li><a href="mailto:tudor.micubd@gmail.com">E-mail</a></li>
    <li><a href="https://goo.gl/maps/j4UsjHKzJ3aPSu3z8">Strada Academiei 14, București 010014</a></li>
    <li>Dezvoltat cu <i class="fa-solid fa-heart fa-beat" style="--fa-animation-duration: 0.5s; margin-inline: 5px;" ></i> in Bucuresti.</li>
</ul>
<a href="#top">&uarr; Sus</a>
<small>&copy; <time datetime="2023-03-04 16:30">2023</time></small>