<h1>HaiLaConcert.ro</h1>
<nav>
    <label id="hamburger" for="ch-menu">
        <img src="/res/img/Hamburger_icon_alb.png" alt="hamburger">
    </label>
    <input id="ch-menu" type="checkbox">
    <ul id="meniu_mobil" class="meniu">
        <li><a href="/index#concerte-bucuresti">Recomandari Bucuresti</a></li>
        <li><a href="/index#concerte-iasi">Recomandari Iasi</a></li>
        <li><a href="/index#concerte-cluj-napoca">Recomandari Cluj-Napoca</a></li>
        <li><a href="/index#concerte-timisoara">Recomandari Timisoara</a></li>
        <li><a href="/produse/toate">Toate biletele</a></li>
        <%
            for (let cat of categories) { %>
                <li><a href="/produse/<%- cat.categorie %>">Bilete <%- cat.categorie %></a></li>
        <%
            }
        %>
        <li><a href="#">Calendar concerte</a></li>
        <li><a href="#">Contul meu</a></li>
        <li><a href="/relatii-clienti">Relatii clienti</a></li>
        <li><a href="/index#sali-concerte">Sali concerte</a></li>
        <li><a href="/index#intrebari-frecvente">Intrebari frecvente</a></li>
    </ul>
    <ul id="meniu_mare" class="meniu">
        <li><a href="/index#recomandari-concerte">Recomandari concerte</a>
            <ul>
                <li><a href="/index#concerte-bucuresti">Bucuresti</a></li>
                <li><a href="/index#concerte-iasi">Iasi</a></li>
                <li><a href="/index#concerte-cluj-napoca">Cluj-Napoca</a></li>
                <li><a href="/index#concerte-timisoara">Timisoara</a></li>
            </ul>
        </li>
        <li><a href="/produse/toate">Bilete</a>
            <ul>
                <li><a href="/produse/toate">Toate biletele</a></li>
                <%
                    for (let cat of categories) { %>
                        <li><a href="/produse/<%- cat.categorie %>">Bilete <%- cat.categorie %></a></li>
                <%
                    }
                %>
            </ul>
        </li>
        <li><a href="#">Calendar concerte</a></li>
        <li><a href="#">Contul meu</a></li>
        <li><a href="/relatii-clienti">Relatii clienti</a></li>
        <li><a href="/index#informatii-generale">Informatii generale</a>
            <ul>
                <li><a href="/index#sali-concerte">Sali concerte</a></li>
                <li><a href="/index#intrebari-frecvente">Intrebari frecvente</a></li>
            </ul>
        </li>
    </ul>
</nav>